$progressBarColor: #f2f2f2;
$progressValueColor: #ef5f3c;
$btnGreen : #1CBC2C;
$aBlue: #20A1d4;

body {
  font-family: 'Ubuntu', sans-serif;
  //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: auto;
div.wrapper-container {
  margin: auto;
  text-align: center;
  max-width: 400px;

  div.top {
    margin: 3em auto 0 auto;
    height: 50px;
    width: 400px;
    background-color: #424242;
    border-radius: 5px;

    p {
      text-align: center;
      color: #eaeaea;
      font-weight: 300;
      padding-top: 15px;
      font-size: 16px;

    }
  }

  div.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #424242;
    margin-left: 23em;
    margin-bottom: 2px;
  }
}


div.middle {
  border: solid 1px #d3d3d3;
  height: 300px;

  .Progress-main {
      background-color: red;
      display: block;
      width: 100%;
      height: 15px;
  }
  .Progress-main::-moz-progress-bar {
      background: $progressValueColor;
  }
  .Progress-main::-webkit-progress-bar {
      background: $progressBarColor;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  }
  .Progress-main::-webkit-progress-value {
      background: $progressValueColor;
  }
  .Progress-main::-ms-fill {
      background: $progressValueColor;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
  }
  .Progress-bar {
      margin-top: 0.95em;
      background-color: $progressBarColor;
      height: 15px;
  }
  .Progress-value {
      background-color: $progressValueColor;
      display: block;
      height: 15px;
  }
  span.one {
      margin-top: 1em;
      margin-bottom: 0;
      color: gray;
      font-weight: bold;
      display: block;
    b {
      color: $progressValueColor;
      font-weight: bold;
    }
  }

  span.two {
    display: block;
    color: gray;
    font-weight: bold;
    padding:  12px 12px 12px 12px;
    max-width: 267px;
    margin: auto;
    text-align: justify;
  }

  div.inline {
    height: 36px;
    width: 267px;
    //text-align: center;
    margin: auto;

  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 5px;
    font-weight: bold;
  }
  .form-control::-moz-placeholder { /* Firefox 19+ */
     padding-left: 5px;
     font-weight: bold;
  }
  .form-control:-ms-input-placeholder { /* IE 10+ */
     padding-left: 5px;
     font-weight: bold;
  }
  .form-control:-moz-placeholder { /* Firefox 18- */
     padding-left: 5px;
     font-weight: bold;
  }
      .form-control {
        display: inline;
        width: 100%;
        margin: 0;
        float: right;
        position: relative;
        line-height: 1.75;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        display: inline-block;
        height: 100%;
        margin: 0;
        padding: 0;
        float: left;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
        width: 70%;
      }

      .btn {
        background-color: $btnGreen;
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        display: inline-block;
        border-radius: 6px;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;

      }
    }

  a {
    display: block;
    padding-top: 5px;
    text-decoration: none;
    color: $aBlue;
    font-style: italic;
    text-align: left;
    margin-left: 4em;
    }
  } // div middle

div.parent {
  margin: auto;
  text-align: center;

  div.buttons {
    margin-left: auto;
    margin-right: auto;
    width: 400px;

      div {
        text-align: center;
        display: inline-block;
        width: 100px;
        border: 1px solid #d3d3d3;
        margin-top: 2em;
        margin-right: 1px;
        height: 40px;
        padding-left: 47px;
        padding-right: 47px;
        box-shadow: 0 0 7px #d3d3d3;
        border-radius: 4px;


        a {
          display: inline-block;
          margin: 12px auto 6px auto;
          margin-bottom: 3%;
          background: white;
          color: gray;
          font-size: 12px;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
